.btn-login-link {
  color: #203f5e;
  font-size: 18px;
  width: 80%;
  height: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.signup-success {
  text-align: center;
  margin-top: 20px;
}

.signup-success p {
  font-size: 18px;
  color: #28a745;
}
