/* ===============================
   Global Styles
   =============================== */

.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
}

/* ===============================
     Features Component
     =============================== */

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

/* ===============================
     Responsive Design
     =============================== */

@media (min-width: 0px) {
  .container-home {
    min-width: 400px;
  }

  .container-sign-in {
    min-width: 400px;
  }
  .container-profile {
    min-width: 400px;
  }
}
