.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.nav-icon {
  font-size: 26px;
}

.header-log {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
